link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
head
    link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')
body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                            = info.message
                    h2 Recuperacion de password
                    p Por favor ingre su email y le enviaremos a esa cuenta las intrucciones
                form#Login(action='/forgotPassword' method='post')
                    .form-group
                        input#email.form-control(type='email' placeholder='Email' name='username')
                    
                    button.btn.btn-primary(type='submit') Resetear