link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
head
    link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')
body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    h2 Recuperacion de password
                    p Revise su cuenta de email, le llegara alli las insturcciones de reseteo    