link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
head
    link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')
body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                            = info.message
                    h2 Admin Login
                    p Por favor ingre su email y password
                form#Login(action='/login' method='post')
                    .form-group
                        input#username.form-control(type='email' placeholder='Email' name='username')
                    .form-group
                        input#password.form-control(type='password' placeholder='Password' name='password')
                    .forgot
                        a(href='/forgotPassword') Olvide mi password

                    a(href='/auth/google') Login con Google

                    button.btn.btn-primary(type='submit') Login