link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
head
    link#bootstrap-css(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')
body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                            = info.message
                    h2 Cambio de password
                    p Por favor ingre su password
                form#Login(action='/reserPassword' method='post')
                    input#email(type='hidden' name='email' value= user.email)
                    .form-group
                    label(for='pwd') Password:
                        input#pwd.form-control(type='password' name='username' class= errors.password ? 'is-invalid' : '')
                        if errors.password
                            small#passwordHelp.text-danger 
                                = errors.password.message
                    .form-group
                        label(for='confirm_pwd') Confirmar Password:
                        input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
                        if errors.confirm_password
                            small#confirm_passwordHelp.text-danger 
                                = errors.confirm_password.message
                    
                    button.btn.btn-primary(type='submit') Login