extends ../layout

block content
    a(href='/bicicletas') Volver
    h1 Actualizando Bicicleta
    form(action='/bicicletas/' + bici.id + '/update' method='post')
        label(for='id') ID:
        input#id(type='tex' name='id' value=bici.code)
        br
        label(for='color') Color:
        input#color(type='tex' name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input#modelo(type='tex' name='modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        input#lat(type='tex' name='lat' value=bici.ubicacion[0])
        br
        label(for='lng') Longitud:
        input#lng(type='tex' name='lng' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='Actualizar')
        